ul li {
            float: left;
        }
        ul li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        ul li a:hover {
            color:crimson;
            background-color:black;
        }
        body { 
            color:fuchsia;
            background-color: #aae5a4;
        }